# Merger Data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
def list_files(startpath):
    for root, dirs, files in os.walk(startpath):
        print(f'Folder: {root}')
        for file in files:
            print(f'File: {os.path.join(root, file)}')

In [4]:
# Ganti path sesuai dengan direktori yang ingin kamu telusuri
folder_path = 'raw-data'

# Inisialisasi DataFrame kosong
all_data = pd.DataFrame()

# Melakukan iterasi untuk setiap file di dalam direktori dan subdirektori
for root, dirs, files in os.walk(folder_path):
    for file in files:
        if file.endswith('.csv'):  # Memastikan hanya file CSV yang digunakan
            file_path = os.path.join(root, file)
            data = pd.read_csv(file_path)
            all_data = pd.concat([all_data, data], ignore_index=True)

In [5]:
# Menampilkan 5 baris pertama dari DataFrame yang telah digabungkan
all_data.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url,image_url,location
0,Thu Dec 07 06:20:10 +0000 2023,1732646161918668923,@genx36545403 @prabowo @gibran_tweet @jokowi @...,0,2,3,12,in,1440914340022865921,1732410908637589794,Nurhadi40083478,https://twitter.com/Nurhadi40083478/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17326...,NaN
1,Thu Dec 07 06:14:17 +0000 2023,1732644681241317794,@TeddGus @prabowo @gibran_tweet Diwarnai dg ta...,0,1,7,93,in,1440914340022865921,1732578942476062853,Nurhadi40083478,https://twitter.com/Nurhadi40083478/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17326...,NaN
2,Tue Dec 12 04:12:15 +0000 2023,1734425910697484331,@PartaiSocmed Sumber = tiktok TKN Prabowo Gibr...,0,1,0,4,in,1135949597380042752,1734420607532707894,momenteeee,https://twitter.com/momenteeee/status/17344259...,https://pbs.twimg.com/ext_tw_video_thumb/17344...,"Malang, Jawa Timur"
3,Wed Dec 06 05:39:54 +0000 2023,1732273639318532104,Solidaritas positif Mantan Kepala Desa: Prabow...,0,0,0,0,in,1715275061719150592,1732273639318532104,uciananda276395,https://twitter.com/uciananda276395/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17322...,Nganjuk
4,Sat Nov 25 23:53:47 +0000 2023,1728562660000846223,GOLKAR MENANG PRABOWO GIBRAN MENANG RAKYAT SEJ...,0,0,0,0,in,1720577328416489472,1728562660000846223,YzqQubro,https://twitter.com/YzqQubro/status/1728562660...,https://pbs.twimg.com/ext_tw_video_thumb/17285...,Triwung Kidul Kademangan Kota

In [6]:
all_data.shape

(2407, 14)

In [7]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2407 entries, 0 to 2406
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           2407 non-null   object
 1   id_str               2407 non-null   object
 2   full_text            2407 non-null   object
 3   quote_count          2407 non-null   object
 4   reply_count          2407 non-null   object
 5   retweet_count        2407 non-null   object
 6   favorite_count       2407 non-null   object
 7   lang                 2407 non-null   object
 8   user_id_str          2407 non-null   object
 9   conversation_id_str  2407 non-null   object
 10  username             2407 non-null   object
 11  tweet_url            2407 non-null   object
 12  image_url            1316 non-null   object
 13  location             2062 non-null   object
dtypes: object(14)
memory usage: 263.4+ KB

In [8]:
# Menampilkan 5 baris pertama dari DataFrame yang telah digabungkan
all_data.columns

Index(['created_at', 'id_str', 'full_text', 'quote_count', 'reply_count',
       'retweet_count', 'favorite_count', 'lang', 'user_id_str',
       'conversation_id_str', 'username', 'tweet_url', 'image_url',
       'location'],
      dtype='object')

# Remove Duplicate

In [9]:
# Menghapus duplikat berdasarkan kolom 'Nama' dan 'Usia'
all_data = all_data.drop_duplicates()
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1809 entries, 0 to 2404
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           1809 non-null   object
 1   id_str               1809 non-null   object
 2   full_text            1809 non-null   object
 3   quote_count          1809 non-null   object
 4   reply_count          1809 non-null   object
 5   retweet_count        1809 non-null   object
 6   favorite_count       1809 non-null   object
 7   lang                 1809 non-null   object
 8   user_id_str          1809 non-null   object
 9   conversation_id_str  1809 non-null   object
 10  username             1809 non-null   object
 11  tweet_url            1809 non-null   object
 12  image_url            959 non-null    object
 13  location             1480 non-null   object
dtypes: object(14)
memory usage: 212.0+ KB

# Filter Data Indonesia and Jatim

In [10]:
all_data_in = all_data.drop(all_data[all_data['lang'] != 'in'].index)
all_data_in.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1246 entries, 0 to 2404
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           1246 non-null   object
 1   id_str               1246 non-null   object
 2   full_text            1246 non-null   object
 3   quote_count          1246 non-null   object
 4   reply_count          1246 non-null   object
 5   retweet_count        1246 non-null   object
 6   favorite_count       1246 non-null   object
 7   lang                 1246 non-null   object
 8   user_id_str          1246 non-null   object
 9   conversation_id_str  1246 non-null   object
 10  username             1246 non-null   object
 11  tweet_url            1246 non-null   object
 12  image_url            570 non-null    object
 13  location             1103 non-null   object
dtypes: object(14)
memory usage: 146.0+ KB

In [11]:
all_data_in.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1246 entries, 0 to 2404
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           1246 non-null   object
 1   id_str               1246 non-null   object
 2   full_text            1246 non-null   object
 3   quote_count          1246 non-null   object
 4   reply_count          1246 non-null   object
 5   retweet_count        1246 non-null   object
 6   favorite_count       1246 non-null   object
 7   lang                 1246 non-null   object
 8   user_id_str          1246 non-null   object
 9   conversation_id_str  1246 non-null   object
 10  username             1246 non-null   object
 11  tweet_url            1246 non-null   object
 12  image_url            570 non-null    object
 13  location             1103 non-null   object
dtypes: object(14)
memory usage: 146.0+ KB

In [12]:
jatim_kabkot = ['bangkalan', 'banyuwangi', 'blitar', 'bojonegoro', 'bondowoso', 'gresik', 
                'jember', 'jombang', 'kediri', 'lamongan', 'lumajang', 'madiun', 'magetan', 'malang', 
                'mojokerto', 'nganjuk', 'ngawi', 'pacitan', 'pamekasan', 'pasuruan', 'ponorogo', 'probolinggo', 
                'sampang', 'sidoarjo', 'situbondo', 'sumenep', 'trenggalek', 'tuban', 'tulungagung', 'batu', 'blitar', 
                'kediri', 'madiun', 'malang', 'mojokerto', 'pasuruan', 'probolinggo', 'surabaya', 'indonesia', 'jawa timur'
                ]

# source: https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.lediknas.com%2Fwp-content%2Fuploads%2F2020%2F06%2Fdaftar-kabupaten-kota-di-indonesia-excel.xlsx&wdOrigin=BROWSELINK

In [13]:
all_data_in.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1246 entries, 0 to 2404
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           1246 non-null   object
 1   id_str               1246 non-null   object
 2   full_text            1246 non-null   object
 3   quote_count          1246 non-null   object
 4   reply_count          1246 non-null   object
 5   retweet_count        1246 non-null   object
 6   favorite_count       1246 non-null   object
 7   lang                 1246 non-null   object
 8   user_id_str          1246 non-null   object
 9   conversation_id_str  1246 non-null   object
 10  username             1246 non-null   object
 11  tweet_url            1246 non-null   object
 12  image_url            570 non-null    object
 13  location             1103 non-null   object
dtypes: object(14)
memory usage: 146.0+ KB

In [14]:
all_data_in['location'] = all_data_in['location'].str.lower()
all_data_in['location'] = all_data_in['location'].astype('str')
all_data_in.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url,image_url,location
0,Thu Dec 07 06:20:10 +0000 2023,1732646161918668923,@genx36545403 @prabowo @gibran_tweet @jokowi @...,0,2,3,12,in,1440914340022865921,1732410908637589794,Nurhadi40083478,https://twitter.com/Nurhadi40083478/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17326...,nan
1,Thu Dec 07 06:14:17 +0000 2023,1732644681241317794,@TeddGus @prabowo @gibran_tweet Diwarnai dg ta...,0,1,7,93,in,1440914340022865921,1732578942476062853,Nurhadi40083478,https://twitter.com/Nurhadi40083478/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17326...,nan
2,Tue Dec 12 04:12:15 +0000 2023,1734425910697484331,@PartaiSocmed Sumber = tiktok TKN Prabowo Gibr...,0,1,0,4,in,1135949597380042752,1734420607532707894,momenteeee,https://twitter.com/momenteeee/status/17344259...,https://pbs.twimg.com/ext_tw_video_thumb/17344...,"malang, jawa timur"
3,Wed Dec 06 05:39:54 +0000 2023,1732273639318532104,Solidaritas positif Mantan Kepala Desa: Prabow...,0,0,0,0,in,1715275061719150592,1732273639318532104,uciananda276395,https://twitter.com/uciananda276395/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17322...,nganjuk
4,Sat Nov 25 23:53:47 +0000 2023,1728562660000846223,GOLKAR MENANG PRABOWO GIBRAN MENANG RAKYAT SEJ...,0,0,0,0,in,1720577328416489472,1728562660000846223,YzqQubro,https://twitter.com/YzqQubro/status/1728562660...,https://pbs.twimg.com/ext_tw_video_thumb/17285...,triwung kidul kademangan kota

In [15]:
# Split kolom 'location', tambahkan kolom baru 'loc1' dan 'loc2'
split_values = all_data_in['location'].str.split(', ', expand=True)
num_columns = len(split_values.columns)

# Tambahkan kolom 'loc1' dan 'loc2' dengan menangani hasil split yang menghasilkan string kosong
for i in range(num_columns):
    col_name = f'loc{i+1}'
    all_data_in[col_name] = split_values[i].fillna('')

all_data_in.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url,image_url,location,loc1,loc2,loc3
0,Thu Dec 07 06:20:10 +0000 2023,1732646161918668923,@genx36545403 @prabowo @gibran_tweet @jokowi @...,0,2,3,12,in,1440914340022865921,1732410908637589794,Nurhadi40083478,https://twitter.com/Nurhadi40083478/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17326...,nan,nan,,
1,Thu Dec 07 06:14:17 +0000 2023,1732644681241317794,@TeddGus @prabowo @gibran_tweet Diwarnai dg ta...,0,1,7,93,in,1440914340022865921,1732578942476062853,Nurhadi40083478,https://twitter.com/Nurhadi40083478/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17326...,nan,nan,,
2,Tue Dec 12 04:12:15 +0000 2023,1734425910697484331,@PartaiSocmed Sumber = tiktok TKN Prabowo Gibr...,0,1,0,4,in,1135949597380042752,1734420607532707894,momenteeee,https://twitter.com/momenteeee/status/17344259...,https://pbs.twimg.com/ext_tw_video_thumb/17344...,"malang, jawa timur",malang,jawa timur,
3,Wed Dec 06 05:39:54 +0000 2023,1732273639318532104,Solidaritas positif Mantan Kepala Desa: Prabow...,0,0,0,0,in,1715275061719150592,1732273639318532104,uciananda276395,https://twitter.com/uciananda276395/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17322...,nganjuk,nganjuk,,
4,Sat Nov 25 23:53:47 +0000 2023,1728562660000846223,GOLKAR MENANG PRABOWO GIBRAN MENANG RAKYAT SEJ...,0,0,0,0,in,1720577328416489472,1728562660000846223,YzqQubro,https://twitter.com/YzqQubro/status/1728562660...,https://pbs.twimg.com/ext_tw_video_thumb/17285...,triwung kidul kademangan kota,triwung kidul kademangan kota,,

In [16]:
all_data_in['loc1'].unique()

array(['nan', 'malang', 'nganjuk', 'triwung kidul kademangan kota ',
       'dki jakarta', 'jember', 'kraksaan', 'lumajang', 'pacitan',
       'ponorogo', 'bangil', 'magetan', 'jombang', 'blitar', 'kediri',
       'trenggalek', 'batu', 'probolinggo', 'pasuruan', 'bondowoso',
       'purworejo', 'madiun', 'kota pasuruan', 'dadapan',
       'kota probolinggo', 'legok', 'kota malang', 'madiun,jawa timur',
       'sidomulyo', 'grobogan', 'lawang', 'tulungagung', 'blitar ',
       'kelapa gading', 'tanggul', '🌬 tth', 'jakarta selatan', 'london',
       'bandung', 'jakarta sebelah atas', 'hokota-shi', '(he/him)',
       'sjw menteng', '강다니엘', '200402', 'indonesia', 'unknown ',
       'north batavia', 'winterfell', 'wano', 'ℭιяۼвση', 'psi udon 23',
       'denpasar', 'di bumi allah', 'jakarta capital region',
       'korea but not korean', 'she/her', 'amsterdam', 'bumi agung',
       'she/her !! ♥︎', 'space x', 'saturn.', 'jamaica', 'west java',
       'jakarta barat', 'moscow', 'balikpapan utara', 'zona nyaman',
       'planeta rica', 'rant priv', 'busan', 'warteg', 'nusantara',
       'dihati mu 💙', 'fpsi', 'pentagon palace', 'indonesia ', 'jakarta',
       'provinsi kalimantan utara ', 'jawa barat', 'rottach-egern',
       'jakarta - yogya - rotterdam', 'nangroe aceh darussalam🇹🇷',
       'resilience', 'dalem kabagongan', 'grogol petamburan',
       'arus bawah', 'kota surabaya', '🇮🇩', '🌬 mikey 🤍', 'di langit ',
       'brebes - jakarta', 'bali', 'lampung', 'pandeglang banten',
       'grindelwald', 'actor chanwoo era', 'selo kartiko', 'chk',
       'pulo gadung', '💕', 'indonesia raya', 'awantimanu',
       'di hatimu yank👩\u200d❤️\u200d👨💍', 'yerusalem ', '𝙅𝙖𝙠𝙖𝙧𝙩𝙖',
       'khoiril anwar', 'central java', 'ig. @tetapkurawa ', 'singapur',
       'bsd serpong', 'jakarta indonesia', 'indonesia raya 🇮🇩',
       '...bersama yang lemah...', 'down the rabbit hole',
       'kota palembang', 'fakfak - yogyakarta', 'ygk',
       'republik indonesia 🇮🇩', 'setia budi', 'on earth ', 'kota batam',
       'kontak.ardibhironx@gmail.com', 'jakarta & ottawa', 'kerajaan',
       'jakarta utara', 'di mana saya bisa lari', 'racoon city', 'italy',
       'di hatimu! ', 'malang ', 'ngapak', 'singasari', 'kota blitar',
       ' madiun', 'kepanjen', 'kota madiun', 'kota batu', 'klakah',
       'malang indonesia', 'kertanegara', 'pare', 'kota kediri',
       'jawa timur', 'bogor,jabar', 'mojokerto', 'surabaya', 'sidoarjo',
       'jawa timur - surabaya', 'kota mojokerto', 'lawang malang',
       'madiun ', 'di kampung', 'malang - indonesia', 'sidoarjo ',
       'sman 2 surabaya', 'batu jawa timur ', 'surabaya ',
       'ponorogo,jawa timur', 'sidoarjo-indonesia',
       'üt: -8.092697,112.149062', 'mojosari', 'ngawi',
       'jakarta - kediri', 'surabaja', 'sidoharjo', 'batu,jawa timur',
       'sumenep', 'east java', 'apart. essense dhrmawangsa,jkt',
       'bandung,gegerkalong', 'girimarto'], dtype=object)

In [17]:
places_list = [
    "malang",
    "nganjuk",
    "triwung kidul kademangan kota",
    "jember",
    "lumajang",
    "pacitan",
    "ponorogo",
    "bangil",
    "magetan",
    "jombang",
    "blitar",
    "kediri",
    "trenggalek",
    "batu",
    "probolinggo",
    "pasuruan",
    "bondowoso",
    "purworejo",
    "madiun",
    "kota pasuruan",
    "kota probolinggo",
    "legok",
    "kota malang",
    "sidomulyo",
    "lawang",
    "tulungagung",
    "blitar",
    "tanggul",
    "jawa barat",
    "kota surabaya",
    "malang",
    "singasari",
    "kota blitar",
    "madiun",
    "kepanjen",
    "kota madiun",
    "kota batu",
    "malang indonesia",
    "pare",
    "kota kediri",
    "jawa timur",
    "mojokerto",
    "surabaya",
    "sidoarjo",
    "jawa timur - surabaya",
    "kota mojokerto",
    "lawang malang",
    "madiun",
    "malang - indonesia",
    "sidoarjo",
    "sman 2 surabaya",
    "batu jawa timur",
    "surabaya",
    "sidoarjo-indonesia",
    "mojosari",
    "ngawi",
    "surabaja",
    "sidoharjo",
    "sumenep",
    "east java"
]

In [18]:
all_data_in.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url,image_url,location,loc1,loc2,loc3
0,Thu Dec 07 06:20:10 +0000 2023,1732646161918668923,@genx36545403 @prabowo @gibran_tweet @jokowi @...,0,2,3,12,in,1440914340022865921,1732410908637589794,Nurhadi40083478,https://twitter.com/Nurhadi40083478/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17326...,nan,nan,,
1,Thu Dec 07 06:14:17 +0000 2023,1732644681241317794,@TeddGus @prabowo @gibran_tweet Diwarnai dg ta...,0,1,7,93,in,1440914340022865921,1732578942476062853,Nurhadi40083478,https://twitter.com/Nurhadi40083478/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17326...,nan,nan,,
2,Tue Dec 12 04:12:15 +0000 2023,1734425910697484331,@PartaiSocmed Sumber = tiktok TKN Prabowo Gibr...,0,1,0,4,in,1135949597380042752,1734420607532707894,momenteeee,https://twitter.com/momenteeee/status/17344259...,https://pbs.twimg.com/ext_tw_video_thumb/17344...,"malang, jawa timur",malang,jawa timur,
3,Wed Dec 06 05:39:54 +0000 2023,1732273639318532104,Solidaritas positif Mantan Kepala Desa: Prabow...,0,0,0,0,in,1715275061719150592,1732273639318532104,uciananda276395,https://twitter.com/uciananda276395/status/173...,https://pbs.twimg.com/ext_tw_video_thumb/17322...,nganjuk,nganjuk,,
4,Sat Nov 25 23:53:47 +0000 2023,1728562660000846223,GOLKAR MENANG PRABOWO GIBRAN MENANG RAKYAT SEJ...,0,0,0,0,in,1720577328416489472,1728562660000846223,YzqQubro,https://twitter.com/YzqQubro/status/1728562660...,https://pbs.twimg.com/ext_tw_video_thumb/17285...,triwung kidul kademangan kota,triwung kidul kademangan kota,,

In [19]:
bukan_jatim = all_data_in[~all_data_in['loc1'].isin(places_list)].index
# Hapus baris-baris yang tidak ada dalam 'places_list' dari DataFrame
all_data_in = all_data_in.drop(bukan_jatim)
all_data_in.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 893 entries, 2 to 2404
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           893 non-null    object
 1   id_str               893 non-null    object
 2   full_text            893 non-null    object
 3   quote_count          893 non-null    object
 4   reply_count          893 non-null    object
 5   retweet_count        893 non-null    object
 6   favorite_count       893 non-null    object
 7   lang                 893 non-null    object
 8   user_id_str          893 non-null    object
 9   conversation_id_str  893 non-null    object
 10  username             893 non-null    object
 11  tweet_url            893 non-null    object
 12  image_url            361 non-null    object
 13  location             893 non-null    object
 14  loc1                 893 non-null    object
 15  loc2                 893 non-null    object
 16  loc3                 893 non-null    object
dtypes: object(17)
memory usage: 125.6+ KB

In [20]:
all_data_in['location'].unique()

array(['malang, jawa timur', 'nganjuk', 'jember, jawa timur',
       'lumajang, indonesia', 'pacitan, indonesia', 'ponorogo', 'bangil',
       'magetan, indonesia', 'jombang', 'jombang, indonesia', 'lumajang',
       'pacitan', 'malang, east java, indonesia', 'malang',
       'nganjuk, indonesia', 'blitar', 'kediri', 'ponorogo, indonesia',
       'trenggalek, indonesia', 'batu, indonesia', 'probolinggo',
       'pasuruan', 'batu', 'bondowoso, indonesia', 'purworejo, indonesia',
       'madiun', 'pasuruan, jawa timur', 'kota pasuruan, jawa timur',
       'kota probolinggo, jawa timur', 'kediri, jawa timur',
       'legok, indonesia', 'kota malang, jawa timur', 'sidomulyo',
       'probolinggo, jawa timur', 'lawang, indonesia',
       'tulungagung, indonesia', 'jember', 'pasuruan, indonesia',
       'tulungagung', 'tanggul, indonesia', 'jawa barat, indonesia',
       'kota surabaya, jawa timur', 'singasari', 'kota blitar',
       'madiun, indonesia', 'bangil, indonesia', 'kediri, indonesia',
       'kepanjen', 'kota madiun', 'kota batu', 'purworejo',
       'blitar, jawa timur', 'kota pasuruan', 'kota madiun, jawa timur',
       'malang indonesia', 'magetan', 'trenggalek', 'kepanjen, indonesia',
       'probolinggo, indonesia', 'batu, malang',
       'pare, kediri, indonesia', 'kota kediri, jawa timur',
       'malang, jawa timur ', 'jawa timur, indonesia',
       'mojokerto, jawa timur', 'surabaya', 'sidoarjo, indonesia',
       'jawa timur - surabaya', 'kota mojokerto, jawa timur',
       'lawang malang', 'malang - indonesia', 'sidoarjo',
       'bangil, pasuruan', 'mojokerto', 'sman 2 surabaya',
       'sidoarjo-indonesia', 'mojosari, indonesia', 'ngawi', 'mojosari',
       'surabaya, indonesia ', 'surabaja', 'ngawi, indonesia',
       'sidoharjo, indonesia', 'sumenep, jawa timur',
       'east java, indonesia'], dtype=object)

In [23]:
all_data_in.drop(columns=['lang', 'user_id_str', 'conversation_id_str', 'username', 'image_url', 'location', 'loc2', 'loc3'], inplace=True)

In [26]:
all_data_in = all_data_in.rename(columns={'loc1':'location'})
all_data_in.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,tweet_url,location
2,Tue Dec 12 04:12:15 +0000 2023,1734425910697484331,@PartaiSocmed Sumber = tiktok TKN Prabowo Gibr...,0,1,0,4,https://twitter.com/momenteeee/status/17344259...,malang
3,Wed Dec 06 05:39:54 +0000 2023,1732273639318532104,Solidaritas positif Mantan Kepala Desa: Prabow...,0,0,0,0,https://twitter.com/uciananda276395/status/173...,nganjuk
6,Wed Dec 06 05:32:08 +0000 2023,1732271687436317173,Keputusan mantan Kepala Desa: Prabowo-Gibran a...,0,0,0,0,https://twitter.com/gunawansam98108/status/173...,jember
7,Wed Dec 06 12:10:50 +0000 2023,1732372021957513563,Ahmad dhani kampanye PRABOWO GIBRAN 🫰🫰🫰🫰🫰🫰🫰 ht...,0,0,0,0,https://twitter.com/YuliaEster4/status/1732372...,malang
9,Wed Dec 06 05:44:47 +0000 2023,1732274868182561244,Pilihan optimis Mantan Kepala Desa: Prabowo-Gi...,0,0,0,0,https://twitter.com/tumizan341/status/17322748...,lumajang

In [22]:
all_data_in.to_csv('dataset/data-jatim.csv', index=False)